<aside class="tienda-filtros">
  <div class="filtros-wrapper">
    <div class="filtro-seccion">
      <h4 class="filtro-titulo">Buscar</h4>
      <input type="text" placeholder="Buscar producto..." class="filtro-buscar">
    </div>
    <div class="filtro-seccion">
      <h4 class="filtro-titulo">Categorías</h4>
      <nav class="filtro-categorias">
        <ul>
          <li><a>Todas</a></li>
          <li><a>Categoría 1 (Simulado)</a></li>
          <li><a>Categoría 2 (Simulado)</a></li>
        </ul>
      </nav>
    </div>
  </div>
</aside>

<section>
  <app-product-list></app-product-list>
</section>